<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cruel_cliente</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">102030</property>
    <mapping resource="hibernateMap/Cardapio.hbm.xml"/>
    <mapping resource="hibernateMap/CardapioIngrediente.hbm.xml"/>
    <mapping resource="hibernateMap/TipoIngrediente.hbm.xml"/>
    <mapping resource="hibernateMap/Entrada.hbm.xml"/>
    <mapping resource="hibernateMap/Ingrediente.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
